//
//  Secrets.xcconfig
//  flow-ios
//
//  Created by Julian Ostarek on 10.06.22.
//  Copyright © 2022 orgName. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GMS_MAPS_KEY = AIzaSyCObfAmL07BPhCciJdwfMvW8ENkdxr6UZI
